@charset "UTF-8";
html {
  scroll-behavior: smooth;
}

body {
  font-family: '游ゴシック体', 'Yu Gothic', 'メイリオ', 'Meiryo', sans-serif;
  font-weight: 500;
  margin: 0 auto;
  text-align: center;
  max-width: 1000px;
  margin-bottom: 10em;
}

.no-margin-top {
  margin-top: 0;
}

.no-margin-bottom {
  margin-bottom: 0;
}

label {
  display: inline-block;
  cursor: pointer;
  border: 1px solid #666;
  border-radius: 0.5em;
  width: 4.5em;
  font-size: 1.1em;
  margin: 0.2em;
}

input[type=radio] {
  display: none;
}

input[type=radio]:checked + label {
  background-color: palevioletred;
  color: #ffffff;
}

.chapter {
  background-color: lemonchiffon;
  margin-bottom: 0.5em;
}

.choices {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#over5label {
  font-size: 1em;
  opacity: 0.7;
  cursor: pointer;
}

#over5label:hover {
  opacity: 1;
}

.hidden_box #label1 {
  display: none;
}

.hidden_box .hidden_show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 0;
  padding: 0;
  overflow: hidden;
  opacity: 0;
  font-size: 0.8em;
}

.hidden_box input:checked ~ .hidden_show {
  height: auto;
  opacity: 1;
}

#questions-wrapper {
  display: inline-block;
}

.question {
  margin-bottom: 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.question p {
  margin: 0;
  width: 18em;
  background-color: lemonchiffon;
}

.question .yes {
  color: #f83da4;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.question .no {
  color: #6acec9;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.question input[type=radio]:checked + label.yes {
  background-color: #faa9b7;
}

.question input[type=radio]:checked + label.no {
  background-color: lightseagreen;
}

.kan .kan-example {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.kan .kan-example > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.kan .kan-count {
  border: 1px solid #666;
  margin: 0.1em;
  padding: 0.5em;
}

.kan .kan-count > div {
  height: 50%;
}

.kan .kan-count p {
  margin: 0;
}

.kan .kan-count span {
  font-weight: bold;
}

.kan .tile {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.kan .tile img {
  width: 19px;
  height: 26px;
}

.kan .tile .yoko {
  width: 26px;
  height: 19px;
}

.kan .tile .kakan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.kan .count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5% auto;
}

.kan .count .count-value {
  font-size: 1.5em;
}

.kan .plus {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 1%;
  color: palevioletred;
}

.kan .zero {
  cursor: pointer;
  font-size: 0.8em;
  border: 1px solid #666;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.pointtables {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.pointtables .tableborder {
  border-collapse: collapse;
  text-align: center;
  font-size: 0.8em;
  margin: 0.3em;
}

.pointtables .tableborder th {
  white-space: nowrap;
  width: 7em;
  border: solid 1px #666;
}

.pointtables .tableborder td {
  width: 7em;
  border: solid 1px #666;
}

.pointtables .oya-points th {
  background-color: pink;
}

.pointtables .ko-points th {
  background-color: lightblue;
}

#result {
  width: 100%;
  padding: 0.5em;
  background-color: #f7c569;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;
}

#result #result_display {
  padding: 0.5em;
  display: none;
}

#result button {
  border-radius: 1em;
}

#result #calculation {
  cursor: pointer;
  height: 3em;
  width: 30%;
  font-size: 1.1em;
}

#result #reset {
  height: 3em;
}

#result #ten-result {
  font-weight: bold;
  font-size: 1.3em;
}

#to-top {
  float: right;
  z-index: 2;
  opacity: 0.7;
}

#to-top:hover {
  cursor: pointer;
  opacity: 1;
}

.tweet {
  display: inline-block;
}

.disabled {
  opacity: 0.2;
  pointer-events: none;
}

@media screen and (max-width: 600px) {
  header {
    font-size: 0.7em;
  }
  .chapter {
    font-size: 1.3em;
  }
  label {
    font-size: 1.5em;
    padding: 0.4em 0;
  }
  .question {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .question p {
    font-size: 1.3em;
    width: 100%;
  }
  .kan-example {
    font-size: 1.3em;
  }
  .kan-example > div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .kan-count {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .kan-count > div {
    width: 50%;
  }
}
/*# sourceMappingURL=style.css.map */