body {
  font-family: "游ゴシック体", "Yu Gothic", "メイリオ", "Meiryo", sans-serif;
  font-weight: 500;
  margin: 0 auto;
  text-align: center;
  max-width: 1000px;
  margin-bottom: 20vh;
}
section {
  margin: 0.5em;
}
header {
  h1 {
    font-size: 1.3em;
  }
  margin-bottom: 1em;
}

label {
  display: inline-block;
  cursor: pointer;
  border: 1px solid #666;
  border-radius: 0.5em;
  width: 5em;
  max-width: 100px;
  font-size: 1.4em;
  margin: 0.1em;
}
input[type="radio"] {
  display: none;
  &:checked + label {
    background-color: palevioletred;
    color: #ffffff;
  }
}
.chapter {
  background-color: lemonchiffon;
}
.radioButtons {
  user-select: none;
}

.question {
  margin-top: 0.5em;
  display: flex;
  flex-direction: column;
  p {
    font-size: 1.2em;
    width: 100%;
    margin: 0.3em;
    background-color: lemonchiffon;
  }
  .yes {
    color: rgb(248, 61, 164);
    user-select: none;
  }
  .no {
    color: rgb(106, 206, 201);
    user-select: none;
  }
  input[type="radio"] {
    &:checked + label.yes {
      background-color: rgb(250, 169, 183);
    }
    &:checked + label.no {
      background-color: lightseagreen;
    }
  }
}

#radioButtons {
  overflow-x: scroll;
  white-space: nowrap;
  -ms-overflow-style: none; /* IE, Edge 対応 */
  scrollbar-width: none; /* Firefox 対応 */
  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari 対応 */
  }
}

.kan-count {
  user-select: none;
  font-size: 1.3em;
}
.count-box {
  display: flex;
  justify-content: space-around;
  border: 1px solid #666;
  margin: 0.3em;
  padding: 0.5em;
  border-radius: 0.3em;
  &:hover {
    cursor: pointer;
  }
  p {
    font-size: 0.9em;
    margin: 0;
    white-space: nowrap;
  }
  span {
    font-weight: bold;
  }
}

// 牌の画像
.tile {
  display: inline-flex;
  align-items: flex-end;
  img {
    width: 19px;
    height: 26px;
  }
  .yoko {
    width: 26px;
    height: 19px;
  }
  .kakan {
    display: flex;
    flex-direction: column;
  }
}
.count-value {
  font-size: 1.5em;
}
.zero {
  font-size: 0.8em;
  border: 1px solid #666;
  user-select: none;
  border-radius: 0.5em;
  padding: 0.2em;
  &:hover {
    background-color: lightgrey;
  }
}

#han-wrapper {
  label {
    width: 15%;
  }
}
#over5label {
  font-size: 1em;
  opacity: 0.7;
  cursor: pointer;
  &:hover {
    opacity: 1;
  }
}
#over5input {
  display: none;
}
#over5input:checked ~ .hidden_show {
  height: auto;
  opacity: 1;
}
.hidden_show {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  height: 0;
  padding: 0;
  overflow: hidden;
  opacity: 0;
  font-size: 0.8em;
}


//表
.caption {
  font-weight: bold;
  margin-top: 2em;
  margin-bottom: 0;
}
.pointtables {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.pointtables table {
  border-collapse: collapse;
  text-align: center;
  font-size: 0.8em;
  margin: 0.3em;
  th {
    white-space: nowrap;
    width: 7em;
    border: solid 1px #666;
  }
  td {
    width: 7em;
    border: solid 1px #666;
  }
}
.oya-points th {
  background-color: pink;
}
.ko-points th {
  background-color: lightblue;
}
.back-gray {
  background-color: #eeeeee;
}


// 固定
#fixed_element {
  box-shadow: 0 -3px 0  rgba(0,0,0,0.2);
  background-color: #fff;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;
}

#result {
  padding: 0.5em;
  margin: auto 0 0 0;
  background-color: #f7c569;
  display: none;
  justify-content: space-between;
  width: 100%;
  // position: fixed;
  // bottom: 0;
  // left: 0;
  // z-index: 1;
}
#message {
  font-size: 0.9em;
  margin-left: auto;
  max-width: 55%;
}
#result_display {
  display: none;
  p {
    margin: 0;
  }
}
button#reset {
  border-radius: 1em;
  height: 4em;
  margin: auto 0.5em auto auto;
  font-size: 0.7em;
}
#ten_result {
  font-weight: bold;
  font-size: 1.4em;
}
#to-top {
  margin: auto 0.5em;
  opacity: 0.7;
  p {
    margin: 0;
    font-size: 0.5em;
  }
  &:hover {
    cursor: pointer;
    opacity: 1;
  }
}

// ページトップへ
.arrow {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  background-color: #666;
  border-radius: 5px;
  position: relative;
  height: 35px;
  width: 35px;
}
.arrow::before {
  content: "";
  width: 15px;
  height: 15px;
  display: block;
  border-top: solid 2px;
  border-right: solid 2px;
  transform: rotate(-45deg);
  position: absolute;
  top: 10px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.tweet {
  display: inline-block;
}
.disabled {
  opacity: 0.2;
  pointer-events: none;
}
.bold {
  font-weight: bold;
}
.small {
  font-size: 0.5em;
}

@media (min-width: 600px) {
  section {
    margin-top: 1em;
  }
  .chapter {
    font-size: 1.5em;
  }
  label {
    font-size: 1.2em;
    padding: 0;
  }
  .question {
    flex-direction: row;
    justify-content: center;
    p {
      padding: 0;
      font-size: 1em;
      width: 40%;
      line-height: 2em;
    }
  }
  .kan-count {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 1em;
    .two-boxes {
      display: flex;
      flex-direction: row;
    }
  }
  .count-box {
    flex-direction: column;
    width: 100%;
  }
  .inner-box {
    height: 50%;
  }
}
