@charset "UTF-8";
body {
  font-family: "游ゴシック体", "Yu Gothic", "メイリオ", "Meiryo", sans-serif;
  font-weight: 500;
  margin: 0 auto;
  text-align: center;
  max-width: 1000px;
  margin-bottom: 20vh;
}

section {
  margin: 0.5em;
}

header {
  margin-bottom: 1em;
}

header h1 {
  font-size: 1.3em;
}

label {
  display: inline-block;
  cursor: pointer;
  border: 1px solid #666;
  border-radius: 0.5em;
  width: 5em;
  max-width: 100px;
  font-size: 1.4em;
  margin: 0.1em;
}

input[type="radio"] {
  display: none;
}

input[type="radio"]:checked + label {
  background-color: palevioletred;
  color: #ffffff;
}

.chapter {
  background-color: lemonchiffon;
}

.radioButtons {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.question {
  margin-top: 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.question p {
  font-size: 1.2em;
  width: 100%;
  margin: 0.3em;
  background-color: lemonchiffon;
}

.question .yes {
  color: #f83da4;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.question .no {
  color: #6acec9;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.question input[type="radio"]:checked + label.yes {
  background-color: #faa9b7;
}

.question input[type="radio"]:checked + label.no {
  background-color: lightseagreen;
}

#radioButtons {
  overflow-x: scroll;
  white-space: nowrap;
  -ms-overflow-style: none;
  /* IE, Edge 対応 */
  scrollbar-width: none;
  /* Firefox 対応 */
}

#radioButtons::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari 対応 */
}

.kan-count {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 1.3em;
}

.count-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border: 1px solid #666;
  margin: 0.3em;
  padding: 0.5em;
  border-radius: 0.3em;
}

.count-box:hover {
  cursor: pointer;
}

.count-box p {
  font-size: 0.9em;
  margin: 0;
  white-space: nowrap;
}

.count-box span {
  font-weight: bold;
}

.tile {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.tile img {
  width: 19px;
  height: 26px;
}

.tile .yoko {
  width: 26px;
  height: 19px;
}

.tile .kakan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.count-value {
  font-size: 1.5em;
}

.zero {
  font-size: 0.8em;
  border: 1px solid #666;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-radius: 0.5em;
  padding: 0.2em;
}

.zero:hover {
  background-color: lightgrey;
}

#han-wrapper label {
  width: 15%;
}

#over5label {
  font-size: 1em;
  opacity: 0.7;
  cursor: pointer;
}

#over5label:hover {
  opacity: 1;
}

#over5input {
  display: none;
}

#over5input:checked ~ .hidden_show {
  height: auto;
  opacity: 1;
}

.hidden_show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 0;
  padding: 0;
  overflow: hidden;
  opacity: 0;
  font-size: 0.8em;
}

.caption {
  font-weight: bold;
  margin-top: 2em;
  margin-bottom: 0;
}

.pointtables {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.pointtables table {
  border-collapse: collapse;
  text-align: center;
  font-size: 0.8em;
  margin: 0.3em;
}

.pointtables table th {
  white-space: nowrap;
  width: 7em;
  border: solid 1px #666;
}

.pointtables table td {
  width: 7em;
  border: solid 1px #666;
}

.oya-points th {
  background-color: pink;
}

.ko-points th {
  background-color: lightblue;
}

.back-gray {
  background-color: #eeeeee;
}

#fixed_element {
  padding: 0.3em;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
}

#result {
  padding: 0.5em;
  margin: auto;
  background-color: #f7c569;
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 1000px;
  position: fixed;
  bottom: 0;
  z-index: 1;
}

#message {
  font-size: 0.9em;
  margin-left: auto;
  max-width: 55%;
}

#result_display {
  display: none;
}

#result_display p {
  margin: 0;
}

button#reset {
  border-radius: 1em;
  height: 4em;
  margin: auto 0.5em auto auto;
  font-size: 0.7em;
}

#ten_result {
  font-weight: bold;
  font-size: 1.4em;
}

#to-top {
  margin: auto 1em;
  opacity: 0.7;
}

#to-top p {
  margin: 0;
  font-size: 0.5em;
}

#to-top:hover {
  cursor: pointer;
  opacity: 1;
}

.arrow {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  background-color: #666;
  border-radius: 5px;
  position: relative;
  height: 35px;
  width: 35px;
}

.arrow::before {
  content: "";
  width: 15px;
  height: 15px;
  display: block;
  border-top: solid 2px;
  border-right: solid 2px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  position: absolute;
  top: 10px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.tweet {
  display: inline-block;
}

.disabled {
  opacity: 0.2;
  pointer-events: none;
}

.bold {
  font-weight: bold;
}

.small {
  font-size: 0.5em;
}

@media (min-width: 600px) {
  section {
    margin-top: 1em;
  }
  .chapter {
    font-size: 1.5em;
  }
  label {
    font-size: 1.2em;
    padding: 0;
  }
  .question {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .question p {
    padding: 0;
    font-size: 1em;
    width: 40%;
    line-height: 2em;
  }
  .kan-count {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 1em;
  }
  .kan-count .two-boxes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .count-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .inner-box {
    height: 50%;
  }
}
/*# sourceMappingURL=style.css.map */